<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>I'll be working on the backend first, so excuse the lack of style.</p>
    <p>Mural Me (working title) will allow building owners with available walls to solicit concepts and
      proposals from professional street artists, and chose among them. Street art is a low cost way to
      enhance the aesthetics and culture of a neighborhood. My hope with Mural Me is to validate it with
      a broader audience, and facilitate art that would otherwise not have been made by mathmaking artists
      with oppurtunities. </p>
  </body>
  <a href="/auth/facebook">Login</a>
</html>
